@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body{
  font-family: "Inter", system-ui;
  background: black;
  color: white;
}

@import url('https://fonts.cdnfonts.com/css/miama');
.miama-font{
  font-family: 'Miama', sans-serif;
                                                
}

/* default styles */
*{
  margin: 0;
}

.container{
  width: 85%;
  margin: 3.5rem;
  border-radius: 1rem;
}

/* Sheared styles */

.shape{
  font-size: 4.9rem;
  font-weight: 500;  
                                        
}

.display-flex{
  display: flex;
}

/* dark-2 */
.light-gray{
  color:  rgb(255, 255, 255);
}

/* dark-3 */
.text-gray{
  color: rgba(255, 255, 255, 0.5);
}

.btn-primary{
  width: 14rem;
  height: 3.38rem;
  font-size: 1.125rem;
  font-weight: 600;
  color: rgb(255, 255, 255);
  margin: 0 0.8rem;
  padding: 1rem 2.5rem 1rem 2.5rem;
  border-radius: 2.7rem;
  background: rgb(230, 83, 60);
}

.btn{
  width: 14rem;
  height: 3.38rem;
  font-size: 1.125rem;
  font-weight: 600;
  color: rgb(255, 255, 255);
  background: none;
  margin: 0 0.8rem;
  padding: 1rem 2.5rem 1rem 2.5rem;
  box-sizing: border-box;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 2.6rem;
}

/* navbar styles start here */

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
  font-size: 36px;
  font-weight: 800;
  font-style: italic;
  color: rgb(230, 83, 60);

}

.nab-options{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 3rem;
  font-size: 18px;
  font-weight: 400;
}

.home{
  font-size: 18px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  margin: 0px 47px;
  padding:  0.5rem 1.2rem 0.5rem 1.2rem;
  border-radius: 2.7rem;
  background: rgb(230, 83, 60);;
}

/* navbar styles end here */
